<h3> Output File : </h3>
  <img style="width:460px; height:460px; -webkit-border-radius:5px;" class="img-responsive portfolio-item" src="{{ path('enterface_download_result', { 'file' : 'algo_resultat.jpg'}) }}?rnd={{ random() }}" >  
  <br>
  <center><a href="{{ path('enterface_download_result', { 'file' : 'algo_resultat.jpg'}) }}?rnd={{ random() }}" class="btn btn-primary btn-lg active" role="button" download="algo_resultat.jpg">Download The Image</a></center>
  <br>