{% extends '::base_login.html.twig' %} 
{% block body %}
        <!-- Navigation -->
<script type="text/javascript">
    function fun ()
    {
        if ($('#videoUploadFile').get(0).files.length === 0)
        {
            alert("you must choose video file ");
            return false;
        }
        $('#progress').html('<img src="../loader.gif"></img>');
    }
    
</script>
    

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><br>Cardio Track
                    <small>Video Real time treatement</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->



        <div class="row">
          <div class="col-sm-8 col-xs-8">
              <h3>Application Description</h3>
              <p>
         Left ventricle segmentation and tracking in ultrasound images present necessary tasks for cardiac diagnostic. In this work, we propose an accurate and automatic method for left ventricle segmentation and tracking. The method is based on optical ow estimation for detecting the left ventricle center. Then, the contour is defined and tracked using convex hull and spline interpolation algorithms. Our experiments are conducted using a set of 11 normal and 17 disease hearts ultrasound video sequences. The related results achieved automatic and real-time left ventricle detection and tracking with a rate of 92 % of success.

               </p>

              <ul>
                  <li>Upload your echographie video</li>
                  <li>Treatment</li>
                  <li>Get your real time tracking</li>
              </ul>
          </div>
          <form id="imageform" action="{{ url('enterface_service_tracking') }}" method="post" enctype="multipart/form-data">
          <div class="col-sm-8 col-xs-8">
          <h3>Input : echographie video: <h3>
          
                  

          <input type="file" name="fichier" class="btn btn-info" id="videoUploadFile"><br>
          <input type="submit" value="Get the output video " class="btn btn-success" onclick="return fun();">
              </div>
              <div id="progress" class="col-sm-8 col-xs-8">
                  
              </div>
            
          </form>
         

        </div>
        <hr>
    </div>
      <script src="{{asset('design/js/jquery.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{asset('design/js/bootstrap.min.js')}}"></script>
{%endblock body%}