{% extends '::base_login.html.twig' %}
{% block body %}
    <center>
        <P><font size="7" color="blue">3D Vertebra Mobility </P></font>
                                
        <img src="{{asset('design/img/Medical/construction.jpg') }}"  alt="" />
  <center>
{% endblock %}