{% extends '::base_login.html.twig' %} 
{% block body %}     

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><br>Vertebra Segementation <font color="red">(Personalized !!)</font>
                    <small>MRI images</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-sm-8 col-xs-8">
              <h3>Application Description</h3>
              <p>
                A web based framework for spine curve extraction and vertebra segmentation in T1-weighted MR images. This method is a fast parametrized algorithm based on three
steps:
              </p>

              <ul>
                  <li>Image enhancing</li>
                  <li>Clustering</li>
                  <li>Shape recognition techniques.</li>
              </ul>
          </div>
           {% if works %}
               <div class="container-fluid">
             <div class="col-sm-8 col-xs-12 col-lg-6 col-md-6">
       
                <h3>Input file : </h3>  
   
                <img style="width:250px; height:460px;" class="img-responsive portfolio-item" src="/downloadresult/1.jpg" alt="">
            </div>
             
            <div class="col-sm-8 col-xs-12 col-lg-6 col-md-6">
               <h3>Parameters:</h3>
              
        <form id="imageform" action="{{ url('enterface_service_showvertebraPersonalized') }}" method="post" enctype="multipart/form-data">
        Clahe value (0 to 10): <input type="range" class="bar" name="in1" id="in" value="2" step="1" min="0" max="10" onchange="getvalor(this.value);" oninput="param1.value = in1.value"/>
         <center><input type="text" size="1" name="param1" id="p1" value="3"></input></center>
         
        Morpho value (low size) (0 to 6): <input type="range" class="bar" name="in2" id="in" value="40" step="1" min="0" max="6" onchange="getvalor(this.value);" oninput="param2.value = in2.value"/>
              <center><input type="text" size="1" name="param2" id="p5" value="40"></input></center>
      
        Morpho value (low size) (0 to 6): <input type="range" class="bar" name="in3" id="in" value="40" step="1" min="0" max="6" onchange="getvalor(this.value);" oninput="param3.value = in3.value"/>
              <center><input type="text" size="1" name="param3" id="p5" value="40"></input></center>
              
         Meanshift value (SpatialRad) (0 to 60): <input type="range" class="bar" name="in4" id="in" value="4" step="1" min="0" max="6" onchange="getvalor(this.value);" oninput="param4.value = in4.value"/>
         <center><input type="text" size="1" name="param4" id="p2" value="3"></input></center>
         
        Meanshift value (ColorRad) (0 to 60): <input type="range" class="bar" name="in5" id="in" value="24" step="1" min="1" max="60" onchange="getvalor(this.value);" oninput="param5.value = in5.value"/>
         <center><input type="text" size="1" name="param5" id="p3" value="25"></input></center>
         
        Ellipse value (high size) (0 to 200): <input type="range" class="bar" name="in6" id="in" value="100" step="1" min="0" max="200" onchange="getvalor(this.value);" oninput="param6.value = in6.value"/>
         <center><input type="text" size="1" name="param6" id="p4" value="100"></input></center>
         
        Ellipse value (low size) (0 to 200): <input type="range" class="bar" name="in7" id="in" value="40" step="1" min="0" max="200" onchange="getvalor(this.value);" oninput="param7.value = in7.value"/>
              <center><input type="text" size="1" name="param7" id="p5" value="40"></input></center>
       
        Polynom Degree (0 to 5): <input type="range" class="bar" name="in8" id="in" value="3" step="1" min="0" max="5" onchange="getvalor(this.value);" oninput="param8.value = in8.value"/>
              <center><input type="text" size="1" name="param8" id="p5" value="3"></input></center>
             
              <br>
              <center><input type="submit" value="               Refresh          " class="btn btn-success"><br>
                  
              <a href="{{ path('enterface_service_saveResults', { 'name': 'Scoliosis' }) }}" class="btn btn-primary btn-group-sm"  role="button">Save your Results on MBP Server</a><br>
              
              </center>
       
        </form>
             
            </div>
           </div>
              <div id="doss" class="container-fluid">
   <center>
          <div class="col-sm-6 col-xs-6 col-lg-6 col-md-6">
               <h3> <FONT color="blue" size="5">Results :</FONT><br>Spine Curve: </h3><br>
              <img style="width:250px; height:460px;" class="img-responsive portfolio-item" src="/vertebraimage/65/7/29/MRI_vertebrae_Curve.jpg" alt=""><br>
              <a href="/vertebraimage/65/7/29/Output/out_img.jpg" download="MRI_vertebrae_Detection" class="btn btn-primary btn-lg active" role="button">Download this result</a>
           </div>
           
         
           <div class="col-sm-6 col-xs-6 col-lg-6 col-md-6">
              <h3><br>Vertebrae MeanShif (Filtering) : </h3><br>
              <img style="width:250px; height:460px;" class="img-responsive portfolio-item" src="/vertebraimage/65/7/29/MRI_vertebrae.jpg" alt=""><br>
           <a href="/vertebraimage/65/7/29/Output/meanshift.jpg" download="MRI_vertebrae_Curve" class="btn btn-primary btn-lg active" role="button">Download this result</a>
            
           </div>
                 
             <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
              <h3><br>Gray profile of spine Curve : </h3><br>
           <img style="width:840px; height:250px;"class="img-responsive portfolio-item" src="/vertebraimage/65/7/29/GraySpineCurve.jpg" alt=""><br>
           <a href="/vertebraimage/65/7/29/Output/GraySpineCurve.jpg" download="GraySpineCurve.jpg" class="btn btn-primary btn-lg active" role="button">Download this result</a>
           </div>
                  </center>
                  
     
                
              </div>
           {%endif%}
      
        
        <hr>

    </div>
      <script src="{{asset('design/js/jquery.js')}}"></script>

{%endblock body%}