{% extends '::base_login.html.twig' %} 
{% block body %}
        <!-- Navigation -->
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">
$(window).load(function(){
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#videoUploadFile").change(function(){
        readURL(this);
    });
});
</script>
<script type="text/javascript">
    function fun ()
    {
        if ($('#videoUploadFile').get(0).files.length === 0)
        {
            alert("you must choose video file or image file");
            return false;
        }
        $('#progress').html('<img src="../loader.gif"></img>');
    }
    
</script>
    

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><br>ToolBox Media Process
                    <small>Multimedia Processing Algorithms</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->


        <div class="row">
          <div class="col-sm-8 col-xs-8">
              <h3>Application Description</h3>
              <p>
         Left ventricle segmentation and tracking in ultrasound images present necessary tasks for cardiac diagnostic. In this work, we propose an accurate and automatic method for left ventricle segmentation and tracking. The method is based on optical ow estimation for detecting the left ventricle center. Then, the contour is defined and tracked using convex hull and spline interpolation algorithms. Our experiments are conducted using a set of 11 normal and 17 disease hearts ultrasound video sequences. The related results achieved automatic and real-time left ventricle detection and tracking with a rate of 92 % of success.

               </p>

              <ul>
                  <li>Choose your Algorithm</li>
                  <li>Upload your File</li>
                  <li>Get The results</li>
              </ul>
          </div>
          <form id="imageform" action="{{ url('enterface_service_algotreatment1') }}" method="post" enctype="multipart/form-data">
          <div class="col-sm-12 col-xs-8">
          <h3>Input : Image or Video: <h3>
          
                  
            <img id="blah" src="https://www.agiftunited.com/public/images/preview.png" style="-webkit-border-radius:5px; width:460px; height:460px;" class="img-responsive portfolio-item" alt="your image" />
          <input type="file" name="fichier" class="btn btn-info" id="videoUploadFile" style="width:250px;""><br>
                    <fieldset>
                        <legend><b>Preprocessing Algorithms :</b></legend>
                        <label class="checkbox-inline"><input type="radio" id="e" value="Gaussian Filter" name="algo">&nbsp;Gaussian Filter</label>
                        <label class="checkbox-inline"><input type="radio" id="f" value="Blur Filter" name="algo">&nbsp;Blur Filter</label>
                         <label class="checkbox-inline"><input type="radio" id="g" value="Bilateral Filter" name="algo">&nbsp;Bilateral Filter</label>
                        <label class="checkbox-inline"><input type="radio" id="h" value="Median Filter" name="algo">&nbsp;Median Filter</label>
                    </fieldset>
                    <br>
                    <fieldset>
                        <legend><b>Feature Detection Algorithms :</b></legend>
                        <label class="checkbox-inline"><input type="radio" id="a" value="SIFT" name="algo">&nbsp;SIFT</label>
                        <label class="checkbox-inline"><input type="radio" id="b" value="SURF" name="algo">&nbsp;SURF</label>
                        <label class="checkbox-inline"><input type="radio" id="c" value="Color_Histogram" name="algo">&nbsp;Color Histogram</label>
                        <label class="checkbox-inline"><input type="radio" id="d" value="Hsv_Histogram" name="algo">&nbsp;HSV Histogram</label>
                        <label class="checkbox-inline"><input type="radio" id="i" value="Harris" name="algo">&nbsp;Harris</label>
                        <label class="checkbox-inline"><input type="radio" id="j" value="Canny" name="algo">&nbsp;Canny</label>
                        <label class="checkbox-inline"><input type="radio" id="k" value="Countours" name="algo">&nbsp;Countours</label><br><br>
                        <label class="checkbox-inline"><input type="radio" id="l" value="Laplacien" name="algo">&nbsp;Laplacien</label>
                        <label class="checkbox-inline"><input type="radio" id="m" value="Water Shed" name="algo">&nbsp;Water Shed</label>
                    </fieldset>
                   
                    <br>
          <input type="submit" value="Get the output result " class="btn btn-success" onclick="return fun();">
              </div>
              <div id="progress" class="col-sm-8 col-xs-8">
                  
              </div>
            
          </form>
         

        </div>
        <hr>
    </div>
      <script src="{{asset('design/js/jquery.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{asset('design/js/bootstrap.min.js')}}"></script>
{%endblock body%}