{% extends '::base_login.html.twig' %} 
{% block body %}

<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">
$(window).load(function(){
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#videoUploadFile").change(function(){
        readURL(this);
    });
});
</script>
<script type="text/javascript">
    function fun ()
    {
        if ($('#videoUploadFile').get(0).files.length === 0)
        {
            alert("you must choose Image file ");
            return false;
        }
        $('#progress').html('<img src="../loader.gif"></img>');
    }
    
</script>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><br>Vertebra Segementation <font color='red'>(Advanced Level !!)</font>
                    <small>MRI images</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->



        <div class="row">
          <div class="col-sm-8 col-xs-8">
              <h3>Application Description</h3>
              <p>
                A web based framework for spine curve extraction and vertebra segmentation in T1-weighted MR images. This method is a fast parametrized algorithm based on three
steps:
              </p>

              <ul>
                  <li>Image enhancing</li>
                  <li>Clustering</li>
                  <li>Shape recognition techniques.</li>
              </ul>
          </div>
          <form id="imageform" action="{{ url('enterface_service_showvertebraAdvanced') }}" method="post" enctype="multipart/form-data">
          <div class="col-sm-8 col-xs-8">
            <h3>Input MRI image of the vertebra: </h3>
          
                  
            <img id="blah" src="https://www.agiftunited.com/public/images/preview.png" style="width:250px; height:460px;" class="img-responsive portfolio-item" alt="your image" />
        <input type="file" name="fichier" class="btn btn-info" id="videoUploadFile"><br>

          <br>
          <input type="submit" value="Get the advanced vertebrae treatment" class="btn btn-success" onclick="return fun();">
          </div>
          
              <div id="progress" class="col-sm-8 col-xs-8">
                  
              </div>
           
          </form>
        </div>
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Authors : </p>
                </div>
            </div>

        </footer>

    </div>
      <script src="{{asset('design/js/jquery.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{asset('design/js/bootstrap.min.js')}}"></script>
{%endblock body%}