
.ecranFond{
    /*background-image:url(../img/Medical/Computer-background.jpg);  */
    width:100%;
    margin-top:0;

}

@media screen and (min-width:400px) 
{
    .height-ecran-fond{
        height:1550px; 
    }
    .img-accueil-logo{
        width:380px;
        height:200px;
    }
}

@media screen and (min-width:400px) and (max-width:1650px) 
{
    .height-ecran-fond{
        height:1700px; 
    }

    .img-accueil-logo{
        width:320px;
        height:150px;
    }

}

@media screen and (max-width:400px) 
{
    .height-ecran-fond{
        height:1700px; 
    }
    .img-accueil-logo{
        width:270px;
        height:140px;
    }

}

.parallax {
    /* The image used */  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-opacity{
    height:65%;
    font-family:corbel;   
    background-color:rgba(0, 0, 0,0.4);
    color:white;
}

@media screen and (min-width:640px) 
{
    .home-title{
        font-size:70px;
        margin-top:8%;

    }
}

@media screen and (max-width:640px) 
{
    .home-title{
        font-size:25px;
        margin-top:25%;

    }
}

.home-info-text{
    margin-top:2%;
    text-align:left;   
}
.home-info-text p{  
    color:#ffffff; 
    opacity:1;
}

@media screen and (min-width:1650px) 
{
    .home-text-size{
        font-size:22px;
    }
}

@media screen and (max-width:1650px) 
{
    .home-text-size{
        font-size:18px;

    }
}
.btn-round-lg{
    border-radius: 25px;
}

.news{
    font-family: corbel;       
    color:#5F5C5C;
    display:flex;
    align-items: center;
    justify-content: center

}

.news-margin{
    margin-top: 2%;
    margin-bottom: 2%;
}

.news-padding{
    padding-left:2%;
    padding-right:2%;
}

@media screen and (max-width:400px) {
    .news-title{
        font-size: 16px;
    }

    .news-title a{
        color:#4388ae;
            font-size:20px;
    }

}


@media screen and (min-width:400px) {
    .news-title{
        font-size: 25px;
    }
    .news-title a{
        color:#4388ae;
        font-size:20px;
    }
}

/*@media screen and (max-width:400px) {
    .news-text{
        font-size: 13px;
    }

}*/

@media screen and (max-width:1600px) {
    .news-text{
        font-size: 14px;        
        margin-top: 2%;
        margin-bottom: 10%;
    }

}

@media screen and (min-width:1650px) {
    .news-text{
        font-size: 16px;        
        margin-top: 5%;
        margin-bottom: 10%;
    }

}
.news-left{
    padding-right:0px;
}

.news-right {
    padding-left:0px;
}


.info-news{
    text-align: center;
    font-family: corbel;
}

#taTitleNews{
    font-size:40px;
    margin-top: 1%
}

#taMessage{
    font-size:25px;
    margin-top:2%;
    margin-bottom: 2% 
}

.img-news{
    overflow:auto;
    padding:0px;
}

.img-float-left
{
    float:left;
}

.img-float-right
{
    float:right;
}

.aboutus-img-size{
    height:80%;
    width:80%;
}


.aboutus-pictures{
    display: flex;
    justify-content: center;
    align-items: center;
}


.aboutus-container{
    background-color:white;
}

@media screen and (max-width:450px) 
{
    .height-aboutus{
        height:170%;
    }

}

@media screen and (min-width:450px) and (max-width:1200)
{
    .height-aboutus{
        height:80%;
    }

}

@media screen and (min-width:1200px)
{
    .height-aboutus{
        height:70%;
    }

}

.aboutus-pannel{
    text-align:left; 
    font-family:corbel;
    font-size:30px;
    font-weight: bold;
    color:white;

}

.aboutus-text{
    text-align:left;
    font-family:corbel;
    color:white;
    color:#2B4545
}


@media screen and (min-width:1650px) {
    .aboutus-text-size{ 
        font-size:18px;
    }

}

@media screen and (min-width:400px) and (max-width:1650px)
{
    .aboutus-text-size{ 
        font-size:15px;
    }

}

@media screen and (max-width:400px) {
    .aboutus-text-size{ 
        font-size:18px;
    }

}

.aboutus-title{
    color:#5da7a7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;

}
.team-container{
    font-family:corbel;
    font-size: 25px;
    color:#E7EEEA;
    height:62%;
}

@media screen and (min-width:860px) {
    .height-team{ 
        height:62%;
    }

}

@media screen and (min-width:400px)  and (max-width:800px) {
    .height-team{ 
        height:130%;
    }
}

@media screen and (max-width:400px) 
{
    .height-team{ 
        height:90%;
    }

}
.team-title{
    text-align: center;
    font-size:40px;
    color:white;
    margin-top:10%;
    margin-bottom: 3%
}

.ourServices-title{
    font-weight:600;
    color:white;
}

@media screen and (max-width:1200px) {
    .ourService-text-size{
        font-size: 25px;
    }
}

@media screen and (min-width:1200px) {
    .ourService-text-size{
        font-size: 40px;
    }
}

.services-container{
    text-align:center;
    padding-top:50px;
    font-family: corbel;
}

@media screen and (min-width:850px) {
    .height-services{
        height:65%;
    }
}

@media screen and (max-width:850px) {
    .height-services{
        height:140%;
    }
}


.contact-container{
    background-color: white;
    color:#3F4747;
    text-align: center;
    font-family:corbel;
    height:950px;
}

#titleContact{
    font-size:40px; 
    margin-top: 1%;
}

#textContact{
    font-size: 20px;
    margin-top: 3%;
    margin-bottom:3%;
}

.input-contact{
    width:100%;
    border:1px solid #3F4747;
    height:30px;
    padding-left:8px;

}

.contact-row {
    text-align:center;
    padding:10px;
}

textArea{
    width:100%;
    height:150px;;
    border:1px solid #3F4747;
    resize:none;

}

#btnSendMailToContact{
    width:100%;
}

#CommentContact{
    padding-left: 8px;
    padding-top:5px;
}


.team-image{
    width:45%;
    height:45%;
    margin: 0 auto;

}

.team-image2{

    width:41%;
    height:41%;
    margin: 0 auto;

}

.team-top-border{
    margin-bottom: 3%;
}

.team-bottom{
    margin-bottom: 30px;
}

#divNextText:hover{
    cursor:pointer;
}

.image-product{
    width:50%;
    height:50%
}

.icon-bar{
    background-color:#fff
}

.layout-Session{
    background-color: white;
    color:#3F4747;
    font-family:corbel;
    height:58%
}

.back-color-pricing{
    background-color:#60c2ca;
}

.button-try{
    margin-top:20px;
    display:flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:850px) 
{
    .v-h-center{
        display:flex;
        align-items: center;
        justify-content: center
    }
}

.margin-top{
    margin-top: 2%
}

.padding-top{
    padding-top: 2%;
}

.image-news{
    width:100%;
    height:100%;
}

.border{
    border:1px solid red;
}

.contact-message{
    font-size: 20px;
    font-weight:500;
}

.title-products{
    font-size: 40px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    color:#5da7a7;   
}

@media screen and (max-width:1300px) 
{
    .text-products{
        font-size: 18px;
    }

}

@media screen and (min-width:1300px) 
{
    .text-products{
        font-size: 25px;
    }

}

.text-center{
    text-align: center;
}


.products-header img:hover {
    cursor: pointer;
}


@media screen and (max-width:700px) 
{
    .products-container{
        font-family: corbel;
        background-image:linear-gradient(#F8FDFD ,#D1F0EF);
        height:150%;
    }

}

@media screen and (min-width:700px) 
{
    .products-container{
        font-family: corbel;
        background-image:linear-gradient(#F8FDFD ,#D1F0EF);
        height:65%;
    }
}

.product-list li{

    margin:20px;
}
@media screen and (max-width:400px) 
{
    .products-panel{
        border:1px solid #4196B7;
        border-radius: 15px;
        background-image:linear-gradient(#92BEDC ,#2774A8);
        color:white;
        height:780px;
        margin-bottom: 30px;
        font-size: 18px;
    }
    .products-description{
        height:58%;
    }

    .products-header{
        padding-top:10px;
        font-weight: bold;
    }
}


@media screen and (min-width:400px)  and (max-width:1650px) 
{
    .products-panel{
        border:1px solid #4196B7;
        border-radius: 15px;
        background-image:linear-gradient(#92BEDC ,#2774A8);
        color:white;
        height:580px;
        margin-bottom: 30px;
        font-size: 20px;
    }
    .products-description{
        height:50%;
    }

    .products-header{
        padding-top:10px;
        font-weight: bold;
    }
}

@media screen and (min-width:1650px) 
{
    .products-panel{
        border:1px solid #4196B7;
        border-radius: 15px;
        background-image:linear-gradient(#92BEDC ,#2774A8);
        color:white;
        height:700px;
        margin-bottom: 30px;
    }

    .products-description{
        height:50%;
    }

    .products-header{
        padding-top:30px;
        font-weight: bold;
    }
}

.button-products{
    margin:5px;
    width: 90%;
}


.info-products-img-size{
    height: 60px;
    width: 60px;
}

.publications-text{
    font-family: corbel;
    font-size: 18px;
    margin-bottom: 5%;
}

.publications-container{
    background-image:linear-gradient(#F8FDFD ,#D1F0EF);
}

.title-publications{
    font-size: 40px;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 25px;
    color:#5da7a7;   
}