/* The navigation bar */
.scrollbar {
    position: fixed; /* Set the navbar to fixed position */
    top:0px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: white;
    z-index: 7;
}

.img-accueil-header{
    width:80px;
    height:45px; 
    padding:3px;
    margin:5px;  
    border-radius: 5px;
}

.navbar-accueil
{
    background-image: linear-gradient(#576373, #2E2D38);
    font-family: arial;
    margin-left: 0%;
}


.vertical-middle{
    display:flex;
    align-items:center;
}

.footer{
    position: fixed; /* Set the navbar to fixed position */
    bottom:0px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background: linear-gradient(#576373, #2E2D38);
    height:30px;
    font-family: arial;
    color:white;
    justify-content: center;
      z-index: 7;

}

#divNavbarAccueil a:hover{
    color :#6BDCD8;
    background:  linear-gradient(#576373, #2E2D38);
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
}
