.buying-selling.active {
    /*    background: #7BB712; */
    background-image:linear-gradient(#5CB5B0, #3A7A7C); 
}

.buying-selling {
    width: 120px; 
    padding: 5px;
    position: relative;
    background-image:linear-gradient(#CEFAFC, #A6D9DA);
}

.buying-selling-word {
    font-size: 12px;
    font-weight: 600;
    margin-left: 5px;
}

.radio-dot:before, .radio-dot:after {
    content: "";
    display: block;
    position: absolute;
    background:#fff;
    border-radius: 100%;
}

.radio-dot:before {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    top: 7px;
    left: 15px;
}

.radio-dot:after {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    top: 11px;
    left: 19px;
}

#rdBasic{
    margin-left: -25px;
}

#rdPersonalized
{
  margin-left: 10px;
}


.buying-selling.active .buying-selling-word {
    color: #fff;
}

.buying-selling.active .radio-dot:after {
    background: #426C2A;
}

.buying-selling.active .radio-dot:before {
    background: #fff;
    border-color: #699D17;
}

.buying-selling:hover .radio-dot:before {
    border-color: #adadad;
}

.buying-selling.active:hover .radio-dot:before {
    border-color: #699D17;
}


.buying-selling.active .radio-dot:after {
    background: #426C2A;
}

.buying-selling:hover .radio-dot:after {
    background: #e6e6e6;
}

.buying-selling.active:hover .radio-dot:after {
    background: #426C2A;

}

.categorie ul {
        list-style: none;
        padding: 0;
    }

    .categorie li {
        display: inline-block;
        vertical-align: middle;
    }
       