{# app/Resources/TwigBundle/views/Exception/error403.html.twig #}
{% extends "EnterfaceUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <br><center>This page was not found.</center><br>
        </h4>
    </div>
</div>
{% endblock fos_user_content %}
